@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kia+Signature:ital,wght@0,400;0,700&display=swap");
@layer theme, base, components, utilities;
@config "../tailwind.config.js";

body {
  @apply leading-[normal] m-0;
}
@layer base {
  *,
  *::before,
  *::after {
    border-width: 0;
  }
}
